/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
:root {
  --heart_fill: FF0000;
}
.page {
  margin: 0 auto;
  max-width: 696px;
  min-width: 375px;
  background-color: var(--page_bg_color);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main_font), sans-serif;
  font-variation-settings: 'wght' var(--weight_font); 
  font-size: 18px;
  line-height: 117%;
  color: var(--accent_color);
  background-image: var(--bg_image);
  background-attachment: fixed;
  background-size: cover;
}
.header {
  margin-top: 100px;
  width: 100%;
  padding-block-start: 156px;
  background-color: var(--page_bg_color);
  border: 2px solid var(--accent_color);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_section {
  margin-block-start: 95px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.like {
  width: 169px;
  height: 38px;
}
.header__theme-menu {
  font-family: var(--accent-font), "Inter", sans-serif;
  margin: 0 auto;
  margin-block-start: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.header_main_title {
  font-family: var(--accent-font), "Inter", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 42px;
}
.header_title {
  display: block;
  font-size: 65px;
  padding-block-start: 3px;
}
.header_text {
  font-size: 23px;
  text-transform: uppercase;
}
.theme-menu__list {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-block-end: 35px;
}
.theme-menu__item {
  margin-inline-start: 15px;
  position: relative;
  height: 14px;
}
.theme-menu__button {
  height: 100%;
  border: none;
  background-color: transparent;
  color: inherit;
  font-family: var(--accent-font), "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  transition: opacity 0.3s ease;
}
.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}
.theme-menu__button:hover {
  opacity: 0.6;
  cursor: pointer;
}
.theme-menu__button:focus-visible {
  opacity: 0.6;
  outline: none;
}
.theme-menu__button::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  margin-top: 3px;
  background-color: var(--accent_color);
  opacity: 0.6;
  transition: width 0.3s;
}
.theme-menu__button:focus-visible::after {
  width: 100%;
}
.theme-menu__button:disabled::before {
  content: "\25B6";
  position: absolute;
  left: -15px;
  font-size: 16px;
  animation: move_arrows 0.5s ease-in-out infinite alternate;
}
.card {
  background-color: var(--page_bg_color);
  border: 2px solid var(--accent_color);
  display: flex;
  flex-direction: column;
}
.card_title {
  border-bottom: 2px solid var(--accent_color);
  padding: 5px 10px;
  font-weight: 700;
  font-size: 18px;
}
.card_image {
  position: relative;
}
.card_image_pic {
  object-fit: cover;
  object-position: center;
  width: 100%;
  border-bottom: 2px solid var(--accent_color);
}
.grayscale_filter {
  filter: grayscale(0.8);
}
.opacity_filter {
  filter: opacity(0.8) grayscale(0.5);
}
.blur_filter {
  filter: blur(0.5rem);
}
.saturate_filter {
  filter: saturate(200%);
}
.contract_filter {
  filter: contrast(50%);
}
.sepia_filter {
  filter: sepia(80%);
}
.inver_filter {
  filter: invert(0.7);
}
.card_image_pic_label {
  position: absolute;
  right: 25px;
  top: 25px;
  font-family: var(--accent-font), sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--accent_color);
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow: -1px 0 var(--page_bg_color), 0 1px var(--page_bg_color),
    1px 0 var(--page_bg_color), 0 -1px var(--page_bg_color);
}
@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .card_image_pic_label {
    -webkit-text-stroke: 1px var(--page_bg_color);
    text-stroke: 1px var(--page_bg_color);
    text-shadow: none;
  }
}
.card_content {
  margin: 25px;
  display: flex;
  flex-direction: column;
  gap: 27px;
}
.card_content_text {
  font-weight: 400;
  font-size: 18px;
  line-height: 117%;
}
.card_like {
  padding-right: 25px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: end;
}
.card__icon-button {
  block-size: 35px;
  border: none;
  background-color: transparent;
}
.card_like_heart {
  block-size: 100%;
  --heart_fill: none;
}
.core {
  transition: fill 0.3s linear;
}
.main-body {
  transition: fill 0.3s linear;
}
.contour {
  fill: var(--accent_color);
  transition: fill 0.1s linear;
}
.card__icon-button:hover .core,
.like-icon.is-liked .core {
  fill: var(--heart_core);
  transition: fill 0.3s linear;
}
.card__icon-button:hover .main-body,
.like-icon.is-liked .main-body {
  fill: var(--heart_main_body);
  transition: fill 0.3s linear 0.05s;
}
.card__icon-button:active .main-body {
  fill: #f00;
  transition: fill 0.3s linear 0.05s;
}
.card__icon-button:active .core {
  fill: #f00;
  transition: fill 0.3s linear;
}
.like-icon.is-liked .contour,
.like-icon.is-liked .main-body,
.like-icon.is-liked .core {
  fill: #f00;
}
.like-icon.is-liked .contour {
  transition: fill 0.3s linear 0.06s;
}
.like-icon.is-liked .heart {
  transform-origin: center;
  animation: big_heart 0.3s forwards 0.1s ease-in;
}
.like-icon.is-liked .sparks {
  animation: heart_sparks 0.3s forwards 0.3s ease-in;
}
.card__icon-button:focus,
.card__icon-button:focus-visible {
  outline: none;
}
.card__icon-button:focus-visible {
  outline: 2px solid var(--accent_color);
}
.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}
.button {
  position: relative;
  background-color: var(--page_bg_color);
  font-family: var(--accent-font), sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  border: 2px solid var(--accent_color);
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}
.button__text {
  position: relative;
  z-index: 3;
  color: var(--color_button_text);
  mix-blend-mode: difference;
}
.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--accent_color);
}
.button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: var(--accent_color);
  transition: width 0.5s ease-in-out;
}
.button:hover::before {
  width: 100%;
}
.button:hover {
  cursor: pointer;
}
.save {
  margin: 45px auto 100px;
  color: var(--color_button_text);
  display: flex;
  gap: 10px;
}
.save_button {
  margin: 0 auto;
  width: 335px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.save_button_general {
  position: relative;
  z-index: 3;
  mix-blend-mode: difference;
}
.save_button_text,
.save_button_floopy_icon {
  color: var(--color_button_text);
}
.save_button_floopy {
  width: 21px;
  height: 21px;
}
.dialog_save {
  background-color: var(--dialog_bg);
  color: var(--accent_color);
}
.dialog_content {
  margin: 0 auto;
  padding: 10px 10px;
  font-family: var(--accent-font), sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.dialog_text {
  width: 293px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.dialog_floopy {
  width: 40px;
  height: 40px;
  justify-items: center;
  color: var(--accent_color);
}
.dialog_text_icon .dialog_floopy_icon {
  fill: var(--accent_color);
}
.dialog_floopy_icon {
  width: 40px;
  height: 40px;
}
.dialog_content_text {
  line-height: 150%;
  height: 63px;
  max-width: 234px;
}
.dialog_button {
  background-color: inherit;
  width: 293px;
  padding: 12.5px;
  border: 2px solid var(--accent_color);
}
.dialog_button_text {
  margin: 12.5px 0 12.5px 0;
  color: var(--color_button_text);
  mix-blend-mode: difference;
}
@media (width < 700px) {
  .header {
    padding-block-start: 130px;
  }
  .header__theme-menu {
    margin-block-start: 17px;
    height: min-content;
    gap: 20px;
  }
  .header_main_title {
    gap: clamp(2rem, 1.2067rem + 3.3846vw, 2.6875rem);
    height: min-content;
  }
  .header_title {
    font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  }
  .header_text {
    font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  }
  .card_content {
    margin: 20px 25px;
  }
  .card_like {
    margin-block-start: 5px;
  }
  .save_button {
    margin-block-start: 5px;
    flex-direction: column;
    width: 306px;
    height: 86px;
  }
  .save_button_floopy {
    width: 28px;
    height: 28px;
  }
  .dialog_content {
    width: 100%;
    padding: 20px;
  }
  .dialog_button,
  .dialog_text {
    width: 257px;
  }
  .dialog_text {
    margin: 0 auto;
  }
  .dialog_content_text {
    width: 197px;
  }
}
