/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
:root {
  --heart_fill: FF0000;
}
.page {
  margin: 0 auto;
  max-width: 696px;
  min-width: 375px;
  background-color: var(--page_bg_color);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main_font), sans-serif;
  font-weight: var(--weight_font);
  font-size: 18px;
  line-height: 117%;
  color: var(--accent_color);
  background-image: var(--bg_image);
  background-attachment: fixed;
  background-size: cover;
}
.header {
  margin-top: 100px;
  width: 100%;
  block-size: 368px;
  background-color: var(--page_bg_color);
  border: 2px solid var(--accent_color);
  display: flex;
  align-items: center;
}
.main_section {
  margin-block-start: 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.like {
  width: 169px;
  height: 38px;
}
.footer {
  margin: 45px auto 100px;
  color: var(--color_button_text);
  display: flex;
  gap: 10px;
}
.header__theme-menu {
  font-family: var(--accent-font), "Inter", sans-serif;
  margin: 0 auto;
  margin-block-start: 125px;
  display: flex;
  flex-direction: column;
}
.header_main_title {
  height: 108px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 43px;
}
.header_title {
  display: block;
  font-weight: 400;
  font-size: 65px;
  text-transform: uppercase;
  padding-block-start: 3px;
}
.header_text {
  font-weight: 400;
  font-size: 23px;
  text-transform: uppercase;
}
.theme-menu__list {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 14px;
  
}
.theme-menu__item {
  margin-inline-start: 15px;
  position: relative;
  height: 14px;
}
.theme-menu__button {
  height: 100%;
  border: none;
  background-color: transparent;
  color: inherit;
  font-family: var(--accent-font), "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}

.theme-menu__button:disabled {
  transition: color 0.3s;
  opacity: 0.6;
  pointer-events: none;
}
.theme-menu__button:hover {
  transition: color 0.3s ease;
  opacity: 0.6;
  cursor: pointer;
}
.theme-menu__button:focus-visible {
  opacity: 0.6;
  outline: none;
}
.theme-menu__button::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  margin-top: 3px;
  background-color: var(--accent_color);
  opacity: 0.6;
  transition: width 0.2s;
}
.theme-menu__button:focus-visible::after {
  width: 100%;
}
.theme-menu__button:disabled::before {
  content: '';
  position: absolute;
  left: -15px;
  border: 8px solid transparent;
  border-left: 10px solid var(--accent_color);
  opacity: 0.6;
  animation: move_arrows 0.5s ease-in-out infinite alternate;
}
@keyframes move_arrows {
  from {
    translate: 0px;
  }
  to {
    translate: 4px;
  }
}

.card {
  background-color: var(--page_bg_color);
  border: 2px solid var(--accent_color);
  display: flex;
  flex-direction: column;
}
.card_title {
  border-bottom: 2px solid var(--accent_color);
  padding: 5px 10px;
  font-weight: 700;
  font-size: 18px;
}
.card_image {
  position: relative;
}
.card_image_pic {
  width: 100%;
  border-bottom: 2px solid var(--accent_color);
}
.grayscale_filter {
  filter: grayscale(0.8);
}
.opacity_filter {
  filter: opacity(0.8) grayscale(0.5);
}
.blur_filter {
  filter: blur(0.5rem);
}
.saturate_filter {
  filter: saturate(200%);
}
.contract_filter {
  filter: contrast(50%);
}
.sepia_filter {
  filter: sepia(80%);
}
.inver_filter {
  filter: invert(0.7);
}
.card_image::after {
  content: "</HTML>";
  position: absolute;
  right: 25px;
  top: 25px;
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--accent_color);
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow:
    -1px 0 #fff, 
   0 1px #fff, 
   1px 0 #fff, 
   0 -1px #fff;
}
@supports((text-stroke: 1px #FFF) or (-webkit-text-stroke: 1px #fff)) {
  .card_image::after {
  -webkit-text-stroke: 1px #FFFFFF;
  text-stroke: 1px #FFF;
  text-shadow: none;
  }
}


.card_content {
  margin: 25px;
  display: flex;
  flex-direction: column;
  gap: 27px;
}
.card_content_text {
  font-weight: 400;
  font-size: 18px;
  line-height: 117%;
}
.card_like {
  padding-right: 25px;
  padding-bottom: 25px;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: end;
}
.card__icon-button {
  block-size: 38px;
  inline-size: 39px;
  border: none;
  background-color: transparent;
}
.card_like_heart {
  block-size: 100%;
  inline-size: 100%;
  --heart_fill : none;
}
.core {
  transition: fill 0.3s;
}
.main-body {
  transition: fill 0.3s 0.05s;
}
.contour {
  fill: var(--accent_color);
}
.sparks {
  transition: fill 0.3s 1s;
}
.card__icon-button:focus,
.card__icon-button:focus-visible {
  outline: none;
}
.card__icon-button:focus-visible {
  outline: 2px solid var(--accent_color);
}
.card__icon-button:hover .core,
.like-icon.is-liked .core {
  fill: #000;
  transition: fill 0.3s 0.05s;
}
.card__icon-button:hover .main-body,
.like-icon.is-liked .main-body {
  fill: #000;
  transition: fill 0.3s;
}
.card__icon-button:active .main-body,
.card__icon-button:active .core {
  fill: #F00;
}

.like-icon.is-liked .contour,
.like-icon.is-liked .main-body,
.like-icon.is-liked .core {
  fill: #F00;
}
.like-icon.is-liked .heart {
  animation: big_heart 0.3s forwards 0.5s;
}
.like-icon.is-liked .sparks {
  animation: heart_sparks 0.3s forwards 1s;
}

@keyframes big_heart {
  from {
    scale: 1;
  }
  50% {
    scale: 1.1;
  }
   to {
    scale: 1;
   }
}
@keyframes heart_sparks {
  from {
    fill: var(--page_bg_color);
  }
  50% {
    fill: #F00;
  }
   to {
    fill: var(--page_bg_color);
   }
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}
.button {
  position: relative;
  background-color: var(--page_bg_color);
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  border: 1px solid var(--accent_color);
  overflow: hidden;
}
.button__text {
  position: relative;
  z-index: 3;
  color: var(--color_button_text);
  mix-blend-mode: difference;
}
.card__like-button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--accent_color);
}
.card__like-button::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width:0;
  height: 100%;
  background-color: var(--accent_color);
  transition: width 0.5s ease-in-out ;
}
.card__like-button:hover::before {
  width: 100%;
}
.footer_button {
  position: relative;
  background-color: var(--page_bg_color);
  border: 2px solid var(--accent_color);
  margin: 0 auto;
  width: 335px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
}
.footer_button::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width:0;
  height: 100%;
  background-color: var(--accent_color);
  transition: width 0.5s ease-in-out ;
}
.footer_button:hover::before {
  width: 100%;
}
.footer_button_general {
  position: relative;
  z-index: 3;
  mix-blend-mode: difference;
}
.footer_button_text,
.footer_button_floopy_icon {
  color: var(--color_button_text);
}
.footer_button_floopy {
  width: 21px;
  height: 21px;
}
.dialog_save {
  background-color: var(--page_bg_color);
  color: var(--accent_color);
}
.dialog_content {
  width: 353px;
  height: 191px;
  padding: 30px;
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.dialog_text {
  display: flex;
  gap: 20px;
  align-items: center;
}
.dialog_floopy {
  width: 40px;
  height: 40px;
  justify-items: center;
  color: var(--accent_color);
}
.dialog_text_icon .dialog_floopy_icon {
  fill: var(--accent_color);
}
.dialog_content_text {
  line-height: 150%;
  height: 63px;
}
.dialog_button {
  position: relative;
  background-color: inherit;
  width: 238px;
  height: 38px;
  line-height: 90%;
  border: 2px solid var(--accent_color);
}
.dialog_button_text {
  color: var(--color_button_text);
  mix-blend-mode: difference;
}
.dialog_button::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width:0;
  height: 100%;
  background-color: var(--accent_color);
  transition: width 0.5s ease-in-out ;
}
.dialog_button:hover::before {
  width: 100%;
}

@media (width < 700px) {
  .header {
    block-size: clamp(20.4375rem, 17.4808rem + 12.6154vw, 23rem);
  }
  .header__theme-menu {
    margin-block-start: clamp(6.25rem, 4.0865rem + 9.2308vw, 8.125rem);
    height: min-content;
    gap: 20px;
  }
  .header_main_title {
    gap: clamp(2rem, 1.2067rem + 3.3846vw, 2.6875rem);
    height: min-content;
  }
  .header_title {
    font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  }
  .header_text {
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  }
  .card_content {
    margin: 20px 25px;
  }
  .card_like {
    margin-block-start: 5px;
  }
  .footer_button {
    margin-block-start: 5px;
    flex-direction: column;
    width: 306px;
    height: 86px;
  }
  .footer_button_floopy {
    width: 28px;
    height: 28px;
  }
  .dialog_content {
    width: 100%;
  }
  .dialog_button {
  width: clamp(16.0625rem, -47.875rem + 300vw, 18.3125rem);
  }
}